@import 'variables';

:host {
  display: flex;
  background: #f9f9f9;
}

.title {
  padding: 0 15px;
  margin: 10px 0 0 0;
}

.sidebar {
  flex: 0 0 300px;
  height: $heightContainer;
  max-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  app-user-list {
    height: 100%;
  }
}

.chatbox {
  border-left: 1px solid $shadeColor;
  width: 100%;
  overflow: hidden;
  background: #fff;
  border-radius: 0 0 0 $baseRadius;
  display: flex;
  flex-direction: column;

  app-message-list {
    height: 100%;
  }
}
