@import '~normalize.css';
@import 'variables';
@import 'fonts';

* {
  box-sizing: border-box;
}

body {
  $bgColor: #e2e2de;

  background: linear-gradient(to bottom, $bgColor, darken($bgColor, 7%));
  font-family: 'Open Sans';
  font-weight: normal;
  font-size: $rootFontSize;
  color: $primaryTextColor;
  height: 100%;
}
